/* 재사용하는 스타일 */
.gnb {
  width: 100%;
  padding: 9.5px 0;
  background-color: var(--bg-white);
  position: fixed;
  top: 0;
  left: 0;
}

.gnb > nav {
  max-width: 1120px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

.btn-small-48 {
  padding: 12px 23px;
  background-color: var(--primary-100);
  border-radius: 8px;
  color: var(--secondary-100);
  vertical-align: middle;
  text-align: center;
  cursor: pointer;

  font: var(--text-lg);
}

.btn-small-48:hover {
  background-color: var(--primary-200);
}

.btn-small-48:active {
  background-color: var(--primary-300);
}

.btn-small-48:disabled {
  background-color: var(--primary-400);
}

.btn-large {
  width: 320px;
  padding: 12px 0;
  background-color: var(--primary-100);
  border-radius: 40px;
  color: var(--secondary-100);
  vertical-align: middle;
  text-align: center;
  cursor: pointer;

  font: var(--text-lg);
}

.btn-large:hover {
  background-color: var(--primary-200);
}

.btn-large:active {
  background-color: var(--primary-300);
}

.btn-large:disabled {
  background-color: var(--primary-400);
}

/* index.css */
.login-button {
  width: 128px;
  height: 48px;
}

.landing-header {
  width: 100%;
  background-color: var(--bg-blue);
  padding-top: 200px;
}

.landing-header > div {
  max-width: 1110px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}

.landing-heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.4em;
  color: var(--secondary-700);
}

.landing-header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 60px;
  word-break: keep-all;
}

.landing-body {
  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-home {
  display: flex;
  align-items: center;
  gap: 64px;

  width: 100%;
  margin: 138px auto;
  padding: 0 20px;
  background-color: var(--bg-gray);
}

.landing-home-content > span {
  font: var(--text-2lg);
  color: var(--primary-100);
  font-weight: 800;
}
.landing-home-content > div {
  margin-top: 12px;
}
.landing-home-content > div > p {
  font: var(--text-2xl);
  color: var(--secondary-700);
  font-weight: 500;
}
.landing-home-content > div > h2 {
  margin-bottom: 24px;
}

.landing-footer {
  background-color: var(--bg-blue);
  padding-top: 200px;
}
.landing-footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100%;
  height: 160px;
  background-color: var(--secondary-900);
}

.footer-content {
  margin: 0 auto;
  padding: 32px;
  max-width: 1120px;
  display: flex;
  justify-content: space-between;
  color: var(--bg-white);
}
.footer-content-policy {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.footer-content-policy > a {
  color: var(--bg-white);
}

.footer-content-icons {
  display: flex;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-social a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social img {
  width: 24px;
  height: 24px;
}

/*재사용 하지 않는 스타일*/
.w-274 {
  width: 274px;
}

.w-288 {
  width: 288px;
}

.w-335 {
  width: 335px;
}

.text-right {
  text-align: right;
  margin-left: 14px;
}

/* 태블릿 뷰 */
@media (min-width: 768px) and (max-width: 1199px) {
  .gnb {
    padding: 9.5px 24px;
  }
  .gnb > nav {
    padding: 0 24px;
    width: 100%;
  }

  .landing-header > div {
    padding: 24px 16px 0;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
  }
  .landing-heading {
    font-size: 36px;
  }
}

/* 모바일 뷰 */
@media (max-width: 767px) {
  .gnb {
    padding: 9.5px 16px;
  }
  .gnb > nav {
    padding: 0 8px;
    width: 100%;
  }

  .btn-large {
    width: 260px;
  }

  .landing-header > div {
    padding: 16px 16px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
  }
  .landing-heading {
    text-align: center;
    font-size: 30px;
  }
}
