body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--secondary-800);
}
main {
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

/* login.css */
.logo {
  width: 320px;
}
.login-header {
  display: flex;
  justify-content: center;
}
.login-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.login-form-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.login-form label {
  font-size: 14px;
  font-weight: 600;
}
.login-form-input {
  width: 100%;
  background-color: var(--secondary-100);
  padding: 16px 20px;
  border: none;
  border-radius: 8px;
}

.login-button {
  padding: 12px;
  border: none;
  border-radius: 24px;
  font-size: 18px;
  color: var(--secondary-100);
  background-color: var(--primary-100);
  cursor: pointer;
}

.login-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  border-radius: 6px;
  background-color: var(--primary-400);
  font-size: 14px;
}
.login-social-buttons {
  display: flex;
  gap: 12px;
}
.login-social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.login-social-btn--google {
  background-color: var(--bg-white);
}
.login-social-btn--kakao {
  background-color: #f5e14b;
}
.login-social-icon {
  width: 20px;
  height: 20px;
}

.login-form span {
  text-align: center;
  font-size: 12px;
}
.login-form span a {
  margin-left: 4px;
  color: var(--primary-100);
  text-decoration: underline;
}
.login-form span a:hover {
  color: var(--primary-200);
}
